body{
	font-family: 'Times new roman'; 
    font-weight: 400;
    color: #666;
    font-size: 12px;
    line-height: 20px;
}
#textarea1{
	max-width: 136px;
	max-height:15px;

}
.layer{
	font-family: "Open sans";
	font-size:20px;
}